<div class="example">
    <h2 class="example-title">Jumbotron</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="jumbotron-contents">
              <p>FPS: {{fps}}</p>
              <p>Frame: {{frame}}</p>
              <div>
                    <video id="live" width="320" height="240" autoplay style="display: inline;"></video>
                    <canvas width="320" id="canvas" height="240" style="display: inline;"></canvas> 
                    <canvas width="320" id="processed_canvas" height="240" style="display: inline;"></canvas> 
                    <image src="{{src_gray}}" />
                    <image src="{{src_hsv}}" />
              </div>
          </div>
        </div>
      </div>
    </div>
</div>