
<div class="example" ng-controller="NeopixelCtrl">
    <h2 class="example-title">Jumbotron</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="jumbotron-contents">

              <h1 class="text-center"> Choose your favourite color </h1>
              <!-- <p class='lead text-center'>lllllllllllllllllllllllllllllllllllllll</p> -->

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">                      
		                <button type="button" class="btn btn-lg btn-block btn-{{ getStatusCls() }}" ng-click="connect()"> {{ button_status }} </button>
	                </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">                      
		                <button type="button" class="btn btn-lg btn-block btn-primary" ng-disabled="isDisabled()" ng-click="write('b')">Blue</button>
                    </div>
                    <div class="col-md-3">                    
		                <button type="button" class="btn btn-lg btn-block btn-success" ng-disabled="isDisabled()" ng-click="write('g')">Green</button> 
	                </div>
                    <div class="col-md-3">
		                <button type="button" class="btn btn-lg btn-block btn-warning" ng-disabled="isDisabled()" ng-click="write('o')">Orange</button> 
                    </div>
                    <div class="col-md-3">
		                <button type="button" class="btn btn-lg btn-block btn-danger" ng-disabled="isDisabled()" ng-click="write('r')">Red</button> 
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">                      
		                <button type="button" class="btn btn-lg btn-block btn-default" ng-click="write('z')"> Light Off </button>
	                </div>
                </div>


            </div>
        </div>
      </div>
    </div>
</div>
